PBS_API_TOKEN={{ pbs_exporter_api_token }}
PBS_API_TOKEN_NAME={{ pbs_exporter_token_name }}
PBS_ENDPOINT={{ pbs_exporter_endpoint }}
PBS_INSECURE={{ pbs_exporter_insecure | lower }}
PBS_TIMEOUT={{ pbs_exporter_timeout }}
PBS_LOGLEVEL=info
